extends layout

block content
  div Click F12 to check console tab and network tab
  script(src='/socket.io/socket.io.js')
  script.
    var socket = io.connect('http://localhost:8005', {
      path: '/socket.io',
    });
    socket.on('news', function(data){
      console.log(data);
      socket.emit('reply', 'Hello Node JS');
    });                          