extends layout

block content
  h1 Fav List
  #map
  script.
    const positions = [];
  for result in results
    script.
      positions.push({
          lat: #{result.location[1]},
          lng: #{result.location[0]},
          name: '#{result.name}',
          id: '#{result.placeId}'
      });
  script.
      function initMap(){
          const center = positions[0] || { lat: 37.540705, lng: 126.956764 };
          const map = new google.maps.Map(document.getElementById('map'), {
              zoom: 13,
              center
          });
          positions.forEach((pos) => {
              const marker = new google.maps.Marker({
                  position: { lat: pos.lat, lng: pos.lng },
                  map: map, //구글 맵 객체
                  title: pos.name 
              });
              const div = document.createElement('div');
              const h1 = document.createElement('h1');
              const buttonDelete = document.createElement('button');

              h1.textContent = pos.name;
              buttonDelete.textContent = 'Delete from Fav List';   
              buttonDelete.classList.add('btn');   

              buttonDelete.onclick = () => {
                const xhr = new XMLHttpRequest();
                xhr.onload = () => {
                    if(xhr.status = 200){
                        location.href = '/';
                    }    
                }; 
                
                xhr.open('DELETE', '/location/' + pos.id + '/favorite');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                    placeId: pos.id
                }));
              };
              
              div.appendChild(h1);
              div.appendChild(buttonDelete);            
              const infoWindow = new google.maps.InfoWindow({
                  content: div
              });
              marker.addListener('click', () => {
                  infoWindow.open(map, marker);
              });
          });
      }

  script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=" + process.env.API_KEY + "&callback=initMap")

    